In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_columns",300)
pd.set_option("display.max_rows",600)
import warnings
warnings.filterwarnings("ignore")

ValueError: Key backend: 'module://matplotlib_inline.backend_inline' is not a valid value for backend; supported values are ['gtk3agg', 'gtk3cairo', 'gtk4agg', 'gtk4cairo', 'macosx', 'nbagg', 'notebook', 'qtagg', 'qtcairo', 'qt5agg', 'qt5cairo', 'tkagg', 'tkcairo', 'webagg', 'wx', 'wxagg', 'wxcairo', 'agg', 'cairo', 'pdf', 'pgf', 'ps', 'svg', 'template']

In [5]:
data= pd.read_csv("loan.csv")
data

C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\2089772341.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv("loan.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> Checking info of data

In [6]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #    Column                          Dtype
---   ------                          -----
 0    id                              int64
 1    member_id                       int64
 2    loan_amnt                       int64
 3    funded_amnt                     int64
 4    funded_amnt_inv                 float64
 5    term                            object
 6    int_rate                        object
 7    installment                     float64
 8    grade                           object
 9    sub_grade                       object
 10   emp_title                       object
 11   emp_length                      object
 12   home_ownership                  object
 13   annual_inc                      float64
 14   verification_status             object
 15   issue_d                         object
 16   loan_status                     object
 17   pymnt_plan                      object
 18   url                             object
 19   desc                            object
 20   purpose                         object
 21   title                           object
 22   zip_code                        object
 23   addr_state                      object
 24   dti                             float64
 25   delinq_2yrs                     int64
 26   earliest_cr_line                object
 27   inq_last_6mths                  int64
 28   mths_since_last_delinq          float64
 29   mths_since_last_record          float64
 30   open_acc                        int64
 31   pub_rec                         int64
 32   revol_bal                       int64
 33   revol_util                      object
 34   total_acc                       int64
 35   initial_list_status             object
 36   out_prncp                       float64
 37   out_prncp_inv                   float64
 38   total_pymnt                     float64
 39   total_pymnt_inv                 float64
 40   total_rec_prncp                 float64
 41   total_rec_int                   float64
 42   total_rec_late_fee              float64
 43   recoveries                      float64
 44   collection_recovery_fee         float64
 45   last_pymnt_d                    object
 46   last_pymnt_amnt                 float64
 47   next_pymnt_d                    object
 48   last_credit_pull_d              object
 49   collections_12_mths_ex_med      float64
 50   mths_since_last_major_derog     float64
 51   policy_code                     int64
 52   application_type                object
 53   annual_inc_joint                float64
 54   dti_joint                       float64
 55   verification_status_joint       float64
 56   acc_now_delinq                  int64
 57   tot_coll_amt                    float64
 58   tot_cur_bal                     float64
 59   open_acc_6m                     float64
 60   open_il_6m                      float64
 61   open_il_12m                     float64
 62   open_il_24m                     float64
 63   mths_since_rcnt_il              float64
 64   total_bal_il                    float64
 65   il_util                         float64
 66   open_rv_12m                     float64
 67   open_rv_24m                     float64
 68   max_bal_bc                      float64
 69   all_util                        float64
 70   total_rev_hi_lim                float64
 71   inq_fi                          float64
 72   total_cu_tl                     float64
 73   inq_last_12m                    float64
 74   acc_open_past_24mths            float64
 75   avg_cur_bal                     float64
 76   bc_open_to_buy                  float64
 77   bc_util                         float64
 78   chargeoff_within_12_mths        float64
 79   delinq_amnt                     int64
 80   mo_sin_old_il_acct              float64
 81   mo_sin_old_rev_tl_op            float64
 82   mo_sin_rcnt_rev_tl_op           float64
 83   mo_sin_rcnt_tl                  float64
 84   mort_acc                        float64
 85   mths_since_recent_bc            float64
 86   mths_since_recent_bc_dlq        float64
 87   mths_since_recent_inq           float64
 88   mths_since_recent_revol_delinq  float64
 89   num_accts_ever_120_pd           float64
 90   num_actv_bc_tl                  float64
 91   num_actv_rev_tl                 float64
 92   num_bc_sats                     float64
 93   num_bc_tl                       float64
 94   num_il_tl                       float64
 95   num_op_rev_tl                   float64
 96   num_rev_accts                   float64
 97   num_rev_tl_bal_gt_0             float64
 98   num_sats                        float64
 99   num_tl_120dpd_2m                float64
 100  num_tl_30dpd                    float64
 101  num_tl_90g_dpd_24m              float64
 102  num_tl_op_past_12m              float64
 103  pct_tl_nvr_dlq                  float64
 104  percent_bc_gt_75                float64
 105  pub_rec_bankruptcies            float64
 106  tax_liens                       float64
 107  tot_hi_cred_lim                 float64
 108  total_bal_ex_mort               float64
 109  total_bc_limit                  float64
 110  total_il_high_credit_limit      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

> Checking Null values count

In [7]:
data.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

>Checking percentage of Null values in data, If null value in a columns is more than 50% then after checking columns description we can either drop the that column or keep as it is

In [8]:
result_data=data.isnull().sum()*100/data.shape[0] #checking null values in % 
result_data_desc=result_data.sort_values(ascending=False)

In [9]:
result_data_desc

verification_status_joint    100.0
annual_inc_joint             100.0
mo_sin_old_rev_tl_op         100.0
mo_sin_old_il_acct           100.0
bc_util                      100.0
                             ...
delinq_amnt                    0.0
policy_code                    0.0
earliest_cr_line               0.0
delinq_2yrs                    0.0
id                             0.0
Length: 111, dtype: float64

In [10]:
data_dirty=data.loc[:,result_data>90]
data_dirty.isnull().sum()*100/data.shape[0]

mths_since_last_record             92.985372
next_pymnt_d                       97.129693
mths_since_last_major_derog       100.000000
annual_inc_joint                  100.000000
dti_joint                         100.000000
verification_status_joint         100.000000
tot_coll_amt                      100.000000
tot_cur_bal                       100.000000
open_acc_6m                       100.000000
open_il_6m                        100.000000
open_il_12m                       100.000000
open_il_24m                       100.000000
mths_since_rcnt_il                100.000000
total_bal_il                      100.000000
il_util                           100.000000
open_rv_12m                       100.000000
open_rv_24m                       100.000000
max_bal_bc                        100.000000
all_util                          100.000000
total_rev_hi_lim                  100.000000
inq_fi                            100.000000
total_cu_tl                       100.000000
inq_last_12m                      100.000000
acc_open_past_24mths              100.000000
avg_cur_bal                       100.000000
bc_open_to_buy                    100.000000
bc_util                           100.000000
mo_sin_old_il_acct                100.000000
mo_sin_old_rev_tl_op              100.000000
mo_sin_rcnt_rev_tl_op             100.000000
mo_sin_rcnt_tl                    100.000000
mort_acc                          100.000000
mths_since_recent_bc              100.000000
mths_since_recent_bc_dlq          100.000000
mths_since_recent_inq             100.000000
mths_since_recent_revol_delinq    100.000000
num_accts_ever_120_pd             100.000000
num_actv_bc_tl                    100.000000
num_actv_rev_tl                   100.000000
num_bc_sats                       100.000000
num_bc_tl                         100.000000
num_il_tl                         100.000000
num_op_rev_tl                     100.000000
num_rev_accts                     100.000000
num_rev_tl_bal_gt_0               100.000000
num_sats                          100.000000
num_tl_120dpd_2m                  100.000000
num_tl_30dpd                      100.000000
num_tl_90g_dpd_24m                100.000000
num_tl_op_past_12m                100.000000
pct_tl_nvr_dlq                    100.000000
percent_bc_gt_75                  100.000000
tot_hi_cred_lim                   100.000000
total_bal_ex_mort                 100.000000
total_bc_limit                    100.000000
total_il_high_credit_limit        100.000000
dtype: float64

##### Dropping Columns
> Dropping the columns which has more that 90% data missing as these data will skew the analysis

In [11]:
Clean_data=data.loc[:,result_data<90]

In [12]:
Clean_data.isnull().sum()*100/Clean_data.shape[0]

id                             0.000000
member_id                      0.000000
loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      6.191303
emp_length                     2.706650
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
url                            0.000000
desc                          32.585543
purpose                        0.000000
title                          0.027696
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
mths_since_last_delinq        64.662487
open_acc                       0.000000
pub_rec                        0.000000
revol_bal                      0.000000
revol_util                     0.125891
total_acc                      0.000000
initial_list_status            0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.178765
last_pymnt_amnt                0.000000
last_credit_pull_d             0.005036
collections_12_mths_ex_med     0.140998
policy_code                    0.000000
application_type               0.000000
acc_now_delinq                 0.000000
chargeoff_within_12_mths       0.140998
delinq_amnt                    0.000000
pub_rec_bankruptcies           1.754916
tax_liens                      0.098195
dtype: float64

In [13]:
Clean_data.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12942
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

In [14]:
Clean_data.loc[:,'mths_since_last_delinq'] #

0         NaN
1         NaN
2         NaN
3        35.0
4        38.0
         ...
39712     0.0
39713     5.0
39714     0.0
39715     0.0
39716    11.0
Name: mths_since_last_delinq, Length: 39717, dtype: float64

In [15]:
Clean_data.loc[:,'desc'] # since this data is not of use as of now and also not affecting our analysis so we can keep the data in the table

0          Borrower added on 12/22/11 > I need to upgra...
1          Borrower added on 12/22/11 > I plan to use t...
2                                                      NaN
3          Borrower added on 12/21/11 > to pay for prop...
4          Borrower added on 12/21/11 > I plan on combi...
                               ...
39712    Our current gutter system on our home is old a...
39713    The rate of interest and fees incurred by carr...
39714                                                  NaN
39715                                                  NaN
39716    I plan to consolidate over $7,000 of debt: a c...
Name: desc, Length: 39717, dtype: object

In [16]:
Clean_data[Clean_data['emp_length'].isnull()].head(30)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
168,1067644,1302032,2500,2500,2500.0,36 months,7.51%,77.78,A,A3,...,77.78,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
323,1058717,1290516,18000,18000,18000.0,60 months,17.58%,452.98,D,D4,...,6909.59,Sep-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
394,1064582,1298394,4000,4000,4000.0,36 months,11.71%,132.31,B,B3,...,3658.15,May-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
422,1064366,1298164,1000,1000,1000.0,36 months,14.65%,34.50,C,C3,...,34.50,Jun-12,0.0,1,INDIVIDUAL,0,0.0,0,1.0,0.0
439,1063912,1296491,8250,8250,8250.0,36 months,7.51%,256.67,A,A3,...,278.92,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
534,1062897,1295380,1700,1700,1700.0,36 months,7.90%,53.20,A,A4,...,53.20,Feb-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
555,1062781,1294654,5000,5000,5000.0,36 months,8.90%,158.77,A,A5,...,1689.20,Oct-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
562,1062535,1294602,3000,3000,3000.0,36 months,9.91%,96.68,B,B1,...,101.19,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
569,1036838,1266720,8575,8575,8575.0,36 months,17.58%,308.21,D,D4,...,308.21,Jul-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
678,1061194,1292992,5600,5600,5600.0,36 months,6.03%,170.44,A,A1,...,3683.63,Dec-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
711,1060848,1292813,6500,6500,6500.0,60 months,14.27%,152.16,C,C2,...,152.16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
750,1060485,1292242,14125,14125,14125.0,36 months,12.42%,472.00,B,B4,...,472.00,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
861,1059128,1290942,7000,7000,7000.0,60 months,8.90%,144.97,A,A5,...,144.97,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
900,1056011,1287582,2250,2250,2250.0,36 months,15.27%,78.30,C,C4,...,2.75,Jan-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
931,1051228,1282516,6000,6000,6000.0,60 months,7.90%,121.38,A,A4,...,121.38,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
973,1018385,1246619,7000,7000,7000.0,36 months,6.62%,214.93,A,A2,...,3506.92,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
983,1057726,1289493,15000,15000,15000.0,36 months,12.42%,501.23,B,B4,...,513.27,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1016,1057318,1288882,12000,9650,9650.0,60 months,9.91%,204.61,B,B1,...,204.61,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1088,926180,1146931,12000,12000,12000.0,36 months,6.03%,365.23,A,A1,...,5.53,Jan-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1091,1056081,1287654,15000,15000,15000.0,36 months,17.27%,536.81,D,D3,...,555.12,Dec-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1121,1055716,1287282,8500,8500,8500.0,36 months,15.96%,298.67,C,C5,...,298.00,May-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1138,1055566,1287125,5000,5000,5000.0,36 months,7.51%,155.56,A,A3,...,155.56,Jan-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1146,1055300,1286863,4000,4000,4000.0,36 months,15.27%,139.20,C,C4,...,162.40,Dec-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1157,1055222,1286778,5000,5000,5000.0,36 months,14.65%,172.48,C,C3,...,175.60,Feb-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1173,1054702,1286555,20400,20400,20375.0,60 months,11.71%,450.81,B,B3,...,4326.55,Mar-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1225,1053966,1285571,5000,5000,5000.0,36 months,7.90%,156.46,A,A4,...,160.57,Mar-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1256,1053445,1285040,1400,1400,1400.0,36 months,8.90%,44.46,A,A5,...,44.46,Jan-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1279,1053257,1284831,9250,9250,9250.0,36 months,10.65%,301.31,B,B2,...,6058.57,Mar-13,0.0,1,INDIVIDUAL,0,0.0,0,1.0,0.0
1311,1052258,1283811,7200,7200,7200.0,36 months,12.69%,241.53,B,B5,...,4584.50,Mar-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1326,1052485,1284017,5325,5325,5325.0,36 months,12.42%,177.94,B,B4,...,177.94,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [17]:
Clean_data[Clean_data['emp_title'].isnull()].head(30) # this also a unique and only 1075 cells are empty so as of now we are leaving the this as it is

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.00000,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.00000,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
8,1071795,1306957,5600,5600,5600.00000,60 months,21.28%,152.39,F,F2,...,152.39,Aug-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
30,1032111,1261745,4375,4375,4375.00000,36 months,7.51%,136.11,A,A3,...,144.94,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
42,1069314,1304202,3000,3000,3000.00000,36 months,18.25%,108.84,D,D5,...,115.38,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
61,1068934,1277395,17500,8950,8925.00000,60 months,17.27%,223.74,D,D3,...,2487.58,Jan-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
110,1068273,1302680,5500,5500,5500.00000,36 months,6.62%,168.88,A,A2,...,178.58,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
168,1067644,1302032,2500,2500,2500.00000,36 months,7.51%,77.78,A,A3,...,77.78,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
186,1067090,1301465,9000,9000,9000.00000,36 months,10.65%,293.16,B,B2,...,6.65,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
199,1061877,1293509,20000,20000,20000.00000,36 months,13.49%,678.61,C,C1,...,8269.74,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
243,1066318,1300689,6000,6000,6000.00000,36 months,13.49%,203.59,C,C1,...,215.51,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
267,1040154,1270530,7000,7000,7000.00000,36 months,11.71%,231.54,B,B3,...,243.64,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
270,1063447,1296011,16000,16000,16000.00000,60 months,13.49%,368.08,C,C1,...,368.08,May-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
275,1066081,1300229,1800,1800,1800.00000,36 months,6.62%,55.27,A,A2,...,1440.67,Jan-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
288,1066018,1300151,10400,10400,10400.00000,36 months,9.91%,335.14,B,B1,...,1976.75,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
300,1057001,1288555,30000,30000,28673.79652,60 months,12.42%,673.72,B,B4,...,673.72,Feb-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
323,1058717,1290516,18000,18000,18000.00000,60 months,17.58%,452.98,D,D4,...,6909.59,Sep-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
394,1064582,1298394,4000,4000,4000.00000,36 months,11.71%,132.31,B,B3,...,3658.15,May-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
422,1064366,1298164,1000,1000,1000.00000,36 months,14.65%,34.50,C,C3,...,34.50,Jun-12,0.0,1,INDIVIDUAL,0,0.0,0,1.0,0.0
437,1063505,1296072,7000,7000,7000.00000,36 months,8.90%,222.28,A,A5,...,232.27,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
439,1063912,1296491,8250,8250,8250.00000,36 months,7.51%,256.67,A,A3,...,278.92,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
473,1063521,1288586,3600,3600,3600.00000,36 months,8.90%,114.32,A,A5,...,2037.38,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
485,1063431,1295991,20000,20000,19975.00000,60 months,12.69%,451.90,B,B5,...,451.90,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
491,1062490,1294556,20000,13700,13675.00000,60 months,19.03%,355.62,E,E2,...,7663.24,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
534,1062897,1295380,1700,1700,1700.00000,36 months,7.90%,53.20,A,A4,...,53.20,Feb-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
553,1062614,1294487,6200,6200,6200.00000,36 months,10.65%,201.96,B,B2,...,4553.13,Dec-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
555,1062781,1294654,5000,5000,5000.00000,36 months,8.90%,158.77,A,A5,...,1689.20,Oct-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
562,1062535,1294602,3000,3000,3000.00000,36 months,9.91%,96.68,B,B1,...,101.19,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
569,1036838,1266720,8575,8575,8575.00000,36 months,17.58%,308.21,D,D4,...,308.21,Jul-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
578,1062418,1294281,8000,8000,8000.00000,36 months,8.90%,254.03,A,A5,...,4783.91,Oct-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [18]:
Clean_data[Clean_data['title'].isnull()].head(30) # only 11 cells are empty so we are thinking to look at desc column and try to fill empty title column

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
25188,588911,756574,8000,8000,8000.000000,36 months,19.79%,296.46,F,F5,...,5314.13,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
27477,552630,708107,20000,20000,19852.540000,60 months,16.32%,489.77,D,D5,...,509.53,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
28469,534867,691222,13750,13750,13750.000000,60 months,16.32%,336.72,D,D5,...,352.03,Jul-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
28700,533057,689005,10000,10000,10000.000000,60 months,11.49%,219.88,B,B4,...,219.88,Jan-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
28710,533761,689914,1800,1800,1800.000000,36 months,14.84%,62.26,D,D1,...,68.26,Jul-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
28716,533665,689802,6000,6000,5950.000000,36 months,11.49%,197.83,B,B4,...,216.31,Jul-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
28985,529210,641328,24000,15200,9200.020000,60 months,17.19%,379.32,E,E3,...,379.32,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
29008,528842,683949,1300,1300,1250.000000,36 months,13.61%,44.19,C,C2,...,305.50,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
30307,510485,659169,5600,5600,5600.000000,36 months,11.36%,184.31,B,B5,...,191.94,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
31575,493558,631512,8000,8000,7000.000000,36 months,7.14%,247.52,A,A3,...,2.51,Jul-10,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
37809,371815,390098,7500,7500,2312.543323,36 months,10.95%,245.36,B,B1,...,253.64,Jan-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [19]:
Clean_data[Clean_data['revol_util'].isnull()].head(30)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
3565,1016416,1244120,8000,8000,8000.00000,36 months,19.42%,294.95,E,E3,...,76.83,Dec-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4714,997734,1222858,6100,6100,6100.00000,36 months,14.27%,209.29,C,C2,...,209.29,Nov-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4943,790093,994164,7200,7200,7200.00000,36 months,14.27%,247.03,C,C2,...,66.27,Mar-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
11282,817195,1024992,5000,5000,5000.00000,36 months,21.36%,189.31,F,F4,...,204.01,Feb-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
12042,804073,1009899,3000,3000,3000.00000,60 months,22.11%,83.05,G,G1,...,83.05,Apr-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
12147,802201,1007832,4275,4275,4275.00000,36 months,15.99%,150.28,D,D2,...,1166.73,Jan-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
13891,772732,974723,2000,2000,1900.00000,36 months,18.39%,72.70,E,E2,...,0.00,Nov-11,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
17985,706991,899283,20000,20000,4575.00344,60 months,20.48%,535.24,G,G2,...,535.24,Jul-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
18184,702880,894759,1825,1825,1825.00000,36 months,12.68%,61.22,C,C1,...,223.80,May-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
21604,641703,821414,2500,2500,2500.00000,36 months,16.69%,88.75,E,E3,...,99.82,Feb-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
24663,597450,766883,1000,1000,1000.00000,36 months,14.84%,34.59,D,D1,...,37.99,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
24738,596426,765644,3000,3000,3000.00000,36 months,16.32%,105.95,D,D5,...,111.46,Oct-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
24984,592219,757968,2400,2400,2400.00000,36 months,14.72%,82.87,C,C5,...,1214.84,Aug-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
25261,587749,755113,8000,8000,8000.00000,36 months,15.58%,279.61,D,D3,...,279.61,Feb-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
25977,576386,741269,3200,3200,3200.00000,36 months,17.93%,115.58,E,E5,...,115.58,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
26649,565967,728097,1800,1800,1800.00000,36 months,14.84%,62.26,D,D1,...,482.59,Mar-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
26724,564565,726391,3000,3000,3000.00000,36 months,13.98%,102.51,C,C3,...,112.85,Mar-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
26813,562958,724383,2100,2100,2100.00000,36 months,15.21%,73.02,D,D2,...,73.02,Jan-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
28170,542443,700009,4800,4800,4800.00000,36 months,17.93%,173.37,E,E5,...,848.18,Jul-14,0.0,1,INDIVIDUAL,0,0.0,0,1.0,0.0
28685,534313,690565,7000,7000,6975.00000,60 months,18.67%,180.32,F,F2,...,0.00,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
28938,529742,685040,2000,2000,2000.00000,36 months,15.58%,69.91,D,D3,...,1654.05,Jun-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
28986,529189,684372,3000,3000,2500.00000,36 months,14.35%,103.05,C,C4,...,112.90,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
29236,524545,678704,1500,1500,1500.00000,36 months,16.82%,53.35,E,E2,...,53.35,Oct-11,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
29248,524778,679029,1800,1800,1800.00000,36 months,15.21%,62.59,D,D2,...,1020.36,Jun-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
31862,489925,625341,2500,2500,2500.00000,36 months,18.30%,90.76,F,F1,...,97.99,Jul-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
31939,485585,618650,5500,5500,5500.00000,36 months,17.93%,198.65,E,E5,...,102.33,Jul-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
32715,478050,606824,15000,15000,14900.00000,36 months,14.61%,517.13,D,D1,...,529.73,Dec-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
33078,472809,597097,5000,5000,4950.00000,36 months,15.31%,174.08,D,D3,...,854.69,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
33490,467846,588848,2500,2500,2400.00000,36 months,15.31%,87.04,D,D3,...,425.44,Aug-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
33534,466869,586754,5000,5000,5000.00000,36 months,14.61%,172.38,D,D1,...,314.33,Jan-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [20]:
Clean_data['revol_util'].value_counts() # this is object and important column

revol_util
0%        977
0.20%      63
63%        62
40.70%     58
66.70%     58
         ...
25.74%      1
47.36%      1
24.65%      1
10.61%      1
7.28%       1
Name: count, Length: 1089, dtype: int64

In [21]:
Clean_data['last_pymnt_d'].value_counts()# this is important as we will get to know that when was the last payment made, it can also show that maybe lst installment also
Clean_data['last_pymnt_d'].dtypes# convert to datetime and derived column for month and year

dtype('O')

In [22]:
Clean_data['collections_12_mths_ex_med'] #Number of collections in 12 months excluding medical collections # we can use this as to check that if borrower is 
# ready to take loan then we can check if collections are make from leading body
Clean_data['collections_12_mths_ex_med'].value_counts()

collections_12_mths_ex_med
0.0    39661
Name: count, dtype: int64

In [23]:
Clean_data[Clean_data['collections_12_mths_ex_med'].isnull()].loc[:,'collections_12_mths_ex_med']

39629   NaN
39642   NaN
39650   NaN
39659   NaN
39660   NaN
39666   NaN
39667   NaN
39668   NaN
39669   NaN
39670   NaN
39671   NaN
39672   NaN
39673   NaN
39674   NaN
39675   NaN
39676   NaN
39677   NaN
39678   NaN
39679   NaN
39680   NaN
39681   NaN
39682   NaN
39683   NaN
39684   NaN
39685   NaN
39686   NaN
39687   NaN
39688   NaN
39689   NaN
39690   NaN
39691   NaN
39692   NaN
39693   NaN
39694   NaN
39695   NaN
39696   NaN
39697   NaN
39698   NaN
39699   NaN
39700   NaN
39701   NaN
39702   NaN
39703   NaN
39704   NaN
39705   NaN
39706   NaN
39707   NaN
39708   NaN
39709   NaN
39710   NaN
39711   NaN
39712   NaN
39713   NaN
39714   NaN
39715   NaN
39716   NaN
Name: collections_12_mths_ex_med, dtype: float64

In [24]:
Clean_data.loc[:,'collection_recovery_fee'].value_counts() # this columns is related to 'mths_since_last_delinq' we can find about customer later

collection_recovery_fee
0.0000      35935
2.0000         12
1.2000         10
3.7100          9
1.8800          8
            ...
3.7900          1
773.4900        1
272.8250        1
1.7697          1
0.2300          1
Name: count, Length: 2616, dtype: int64

> no of bankrupcies declared and logged in public record

In [25]:
Clean_data.loc[:,'pub_rec_bankruptcies'].value_counts()

pub_rec_bankruptcies
0.0    37339
1.0     1674
2.0        7
Name: count, dtype: int64

In [26]:
Clean_data.loc[:,'pub_rec_bankruptcies'].dtypes

dtype('float64')

In [27]:
Clean_data[Clean_data['pub_rec_bankruptcies'].isnull()].loc[:,'pub_rec_bankruptcies'] 
# Here 0 and NaN value represent same thing means no bankrupcies are filed, so we can use mode and replace the values

35006   NaN
35058   NaN
35362   NaN
38443   NaN
38717   NaN
         ..
39712   NaN
39713   NaN
39714   NaN
39715   NaN
39716   NaN
Name: pub_rec_bankruptcies, Length: 697, dtype: float64

In [28]:
Clean_data.loc[:,'tax_liens'].value_counts()

tax_liens
0.0    39678
Name: count, dtype: int64

#### Col: Tax Lien means
> The number of tax liens refers to the total count of tax liens filed against a borrower. A tax lien is a legal claim made by a government authority (typically federal, state, or local) against a borrower's property when they fail to pay taxes owed, such as income taxes, property taxes, or other tax obligations.

In [29]:
Clean_data[Clean_data['tax_liens'].isnull()].loc[:,'tax_liens'] # same as 'pub_rec_bankruptcies' we can impute data into null values

39642   NaN
39650   NaN
39659   NaN
39660   NaN
39671   NaN
39676   NaN
39682   NaN
39685   NaN
39686   NaN
39687   NaN
39688   NaN
39689   NaN
39690   NaN
39691   NaN
39692   NaN
39693   NaN
39694   NaN
39695   NaN
39696   NaN
39697   NaN
39698   NaN
39699   NaN
39700   NaN
39701   NaN
39702   NaN
39703   NaN
39704   NaN
39705   NaN
39706   NaN
39707   NaN
39708   NaN
39709   NaN
39710   NaN
39711   NaN
39712   NaN
39713   NaN
39714   NaN
39715   NaN
39716   NaN
Name: tax_liens, dtype: float64

In [30]:
Clean_data["pub_rec_bankruptcies"].mode()[0]

0.0

In [31]:
#Imputing data 
Clean_data["pub_rec_bankruptcies"].fillna(Clean_data["pub_rec_bankruptcies"].mode()[0],inplace=True)
Clean_data["tax_liens"].fillna(Clean_data["tax_liens"].mode()[0],inplace=True)

C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\573133569.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data["pub_rec_bankruptcies"].fillna(Clean_data["pub_rec_bankruptcies"].mode()[0],inplace=True)
C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\573133569.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data["tax_liens"].fillna(Clean_data["tax_liens"].mode()[0],inplace=True)

In [32]:
Clean_data.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12942
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies              0
tax_liens                         0
dtype: int64

In [33]:
Clean_data[Clean_data['chargeoff_within_12_mths'].isnull()].loc[:,'chargeoff_within_12_mths']

39629   NaN
39642   NaN
39650   NaN
39659   NaN
39660   NaN
39666   NaN
39667   NaN
39668   NaN
39669   NaN
39670   NaN
39671   NaN
39672   NaN
39673   NaN
39674   NaN
39675   NaN
39676   NaN
39677   NaN
39678   NaN
39679   NaN
39680   NaN
39681   NaN
39682   NaN
39683   NaN
39684   NaN
39685   NaN
39686   NaN
39687   NaN
39688   NaN
39689   NaN
39690   NaN
39691   NaN
39692   NaN
39693   NaN
39694   NaN
39695   NaN
39696   NaN
39697   NaN
39698   NaN
39699   NaN
39700   NaN
39701   NaN
39702   NaN
39703   NaN
39704   NaN
39705   NaN
39706   NaN
39707   NaN
39708   NaN
39709   NaN
39710   NaN
39711   NaN
39712   NaN
39713   NaN
39714   NaN
39715   NaN
39716   NaN
Name: chargeoff_within_12_mths, dtype: float64

In [34]:
Clean_data['chargeoff_within_12_mths'].value_counts()

chargeoff_within_12_mths
0.0    39661
Name: count, dtype: int64

In [35]:
Clean_data['loan_status'].value_counts()

loan_status
Fully Paid     32950
Charged Off     5627
Current         1140
Name: count, dtype: int64

In [36]:
df=(Clean_data['loan_status']=='Charged Off') & (Clean_data['chargeoff_within_12_mths'].isnull())
df

0        False
1        False
2        False
3        False
4        False
         ...
39712    False
39713    False
39714    False
39715    False
39716    False
Length: 39717, dtype: bool

In [37]:
Clean_data[Clean_data['loan_status'].isin(['Charged Off']) & Clean_data['chargeoff_within_12_mths'].isnull()].loc[:,['loan_status','chargeoff_within_12_mths','last_pymnt_d']]

       loan_status  chargeoff_within_12_mths last_pymnt_d
39666  Charged Off                       NaN       Oct-09
39667  Charged Off                       NaN       Mar-10
39668  Charged Off                       NaN       Mar-10
39669  Charged Off                       NaN       Feb-09
39678  Charged Off                       NaN       May-09
39688  Charged Off                       NaN       Feb-10

In [38]:
# In This columns only 0 and NaN value is present so it is not contributing our analysis so we are deleting this column
Clean_data.drop(['chargeoff_within_12_mths','collections_12_mths_ex_med','tax_liens'], axis=1, inplace=True)

C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\539344015.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data.drop(['chargeoff_within_12_mths','collections_12_mths_ex_med','tax_liens'], axis=1, inplace=True)

In [39]:
Clean_data.isnull().sum()

id                             0
member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
emp_title                   2459
emp_length                  1075
home_ownership                 0
annual_inc                     0
verification_status            0
issue_d                        0
loan_status                    0
pymnt_plan                     0
url                            0
desc                       12942
purpose                        0
title                         11
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                    0
earliest_cr_line               0
inq_last_6mths                 0
mths_since_last_delinq     25682
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                    50
total_acc                      0
initial_list_status            0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_d                  71
last_pymnt_amnt                0
last_credit_pull_d             2
policy_code                    0
application_type               0
acc_now_delinq                 0
delinq_amnt                    0
pub_rec_bankruptcies           0
dtype: int64

In [40]:
#Payment plan is same for all data which doesnot give any insight so deleting from dataset
Clean_data['pymnt_plan'].value_counts()

pymnt_plan
n    39717
Name: count, dtype: int64

In [41]:
Clean_data.drop(['pymnt_plan'], axis=1, inplace=True)

C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\1501788504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data.drop(['pymnt_plan'], axis=1, inplace=True)

In [42]:
Clean_data['url'].isnull().sum()

0

In [43]:
# Removing url Column as well as this is not giving any insight full data
Clean_data.drop(['url'], axis=1, inplace=True)

C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\2308719346.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data.drop(['url'], axis=1, inplace=True)

In [44]:
Clean_data['title'].value_counts()

title
Debt Consolidation                  2184
Debt Consolidation Loan             1729
Personal Loan                        659
Consolidation                        517
debt consolidation                   505
                                    ...
your rate is better than my rate       1
Concession Trailer                     1
gregs                                  1
EZover                                 1
JAL Loan                               1
Name: count, Length: 19615, dtype: int64

In [45]:
Clean_data['desc'].value_counts()

desc
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           210
Debt Consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           8
Camping Membership                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           6
Personal Loan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                3
personal loan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
  Borrower added on 05/13/11 > This loan is to partially finance a car. The payments will be very manageable for me.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
  Borrower added on 05/13/11 > I am consolidating my bills to make it cheaper on bills. I am up for a promotion at my job and have been here three years already. I also have a fiance that has a very reliable job who also helps with finances. My requirement is that all bills are paid on time if not early. This is to keep good standings with all businesses and keep a awesome credit score.<br/> Borrower added on 05/16/11 > I am asking for this loan to pay off bills with higher interest rates and have a lower payment every month.<br/>                                                                                                                                                                                                                                                                                     1
  Borrower added on 05/13/11 > Debt Consolidation<br/> Borrower added on 05/13/11 > I plan to use this money to consolidate bills with high monthly payments and improve cash flow.<br/> Borrower added on 05/13/11 > I have good credit and I have a very stable, solid and professional job that I have held for a long time - over 20 years.  I have a Bachelor's degree and I'm currently working on a masters.<br/> Borrower added on 05/13/11 > My mortgage and utilities run approx less than 2k per month including taxes.  I have sufficient income to pay off this loan. I simply want to take my open accounts and consolidate them into one easy payment.<br/>                                                                                                                                                                   1
  Borrower added on 05/16/11 > I plan on utilizing these funds to further boost my already great standing credit.<br/><br/>I am a good borrower as I have zero delinquencies and have had multiple loans all of which have been paid off in a timely manner.<br/><br/>My monthly budget is coordinated so that I have sufficient spending after all bills are paid.  In addition I leverage extra funding for savings should any unexpected situations occur.<br/><br/>My job is stable.  I have advanced over the past 3 years in the Accounting industry from a Junior Associate to a Regular Associate to a now Senior Associate on my way to becoming a Manager.  I have received multiple promotions and see this position as a long term career further motivating me to work and at the same time allowing me job security.<br/>      1
I plan to consolidate over $7,000 of debt: a combination of credit cards and student loans.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Name: count, Length: 26526, dtype: int64

In [46]:
Clean_data['emp_title'].value_counts()

emp_title
US Army                              134
Bank of America                      109
IBM                                   66
AT&T                                  59
Kaiser Permanente                     56
                                    ...
Community College of Philadelphia      1
AMEC                                   1
lee county sheriff                     1
Bacon County Board of Education        1
Evergreen Center                       1
Name: count, Length: 28820, dtype: int64

In [47]:
Clean_data.drop(['desc','title'], axis=1, inplace=True)

C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\2426655591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data.drop(['desc','title'], axis=1, inplace=True)

In [48]:
Clean_data.isnull().sum()

id                             0
member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
emp_title                   2459
emp_length                  1075
home_ownership                 0
annual_inc                     0
verification_status            0
issue_d                        0
loan_status                    0
purpose                        0
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                    0
earliest_cr_line               0
inq_last_6mths                 0
mths_since_last_delinq     25682
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                    50
total_acc                      0
initial_list_status            0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_d                  71
last_pymnt_amnt                0
last_credit_pull_d             2
policy_code                    0
application_type               0
acc_now_delinq                 0
delinq_amnt                    0
pub_rec_bankruptcies           0
dtype: int64

In [49]:
Clean_data['dti'].value_counts()

dti
0.00     183
12.00     51
18.00     45
19.20     40
13.20     39
        ...
29.13      1
25.31      1
29.76      1
28.42      1
25.43      1
Name: count, Length: 2868, dtype: int64

In [50]:
# Removing all these columns as these columns contain only single value which will not give much info regarding our agenda
Clean_data.drop(['initial_list_status','delinq_amnt','application_type','acc_now_delinq','policy_code'], axis=1, inplace=True)

C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\1721942453.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data.drop(['initial_list_status','delinq_amnt','application_type','acc_now_delinq','policy_code'], axis=1, inplace=True)

In [51]:
Clean_data.isnull().sum()

id                             0
member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
emp_title                   2459
emp_length                  1075
home_ownership                 0
annual_inc                     0
verification_status            0
issue_d                        0
loan_status                    0
purpose                        0
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                    0
earliest_cr_line               0
inq_last_6mths                 0
mths_since_last_delinq     25682
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                    50
total_acc                      0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_d                  71
last_pymnt_amnt                0
last_credit_pull_d             2
pub_rec_bankruptcies           0
dtype: int64

In [52]:
#Clean_data.to_excel("Clean Loan Data.xlsx",index=False)

### Checking the datatype for remaining columns
### bifercating columns into segment of numerical columns, categorical columns and extra columns

> Checking the Data types

In [53]:
Clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 43 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  int64
 1   member_id                39717 non-null  int64
 2   loan_amnt                39717 non-null  int64
 3   funded_amnt              39717 non-null  int64
 4   funded_amnt_inv          39717 non-null  float64
 5   term                     39717 non-null  object
 6   int_rate                 39717 non-null  object
 7   installment              39717 non-null  float64
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  emp_title                37258 non-null  object
 11  emp_length               38642 non-null  object
 12  home_ownership           39717 non-null  object
 13  annual_inc               39717 non-null  float64
 14  verification_status      39717 non-null  object
 15  issue_d                  39717 non-null  object
 16  loan_status              39717 non-null  object
 17  purpose                  39717 non-null  object
 18  zip_code                 39717 non-null  object
 19  addr_state               39717 non-null  object
 20  dti                      39717 non-null  float64
 21  delinq_2yrs              39717 non-null  int64
 22  earliest_cr_line         39717 non-null  object
 23  inq_last_6mths           39717 non-null  int64
 24  mths_since_last_delinq   14035 non-null  float64
 25  open_acc                 39717 non-null  int64
 26  pub_rec                  39717 non-null  int64
 27  revol_bal                39717 non-null  int64
 28  revol_util               39667 non-null  object
 29  total_acc                39717 non-null  int64
 30  out_prncp                39717 non-null  float64
 31  out_prncp_inv            39717 non-null  float64
 32  total_pymnt              39717 non-null  float64
 33  total_pymnt_inv          39717 non-null  float64
 34  total_rec_prncp          39717 non-null  float64
 35  total_rec_int            39717 non-null  float64
 36  total_rec_late_fee       39717 non-null  float64
 37  recoveries               39717 non-null  float64
 38  collection_recovery_fee  39717 non-null  float64
 39  last_pymnt_d             39646 non-null  object
 40  last_pymnt_amnt          39717 non-null  float64
 41  last_credit_pull_d       39715 non-null  object
 42  pub_rec_bankruptcies     39717 non-null  float64
dtypes: float64(16), int64(10), object(17)
memory usage: 13.0+ MB

In [54]:
Clean_data['member_id'].value_counts()

member_id
1296599    1
731393     1
731544     1
729629     1
731390     1
          ..
989001     1
988993     1
988959     1
988954     1
86999      1
Name: count, Length: 39717, dtype: int64

##Categorical:-
    
    1. term
	2. grade
	3. sub_grade
	4. emp_length(it is in years we will see if to standardise)
	5. home_ownership
	6. verification_status
	7. issue_d( derive months and year columns last)(change to datetime)
	8. loan_status
	9. purpose
	10. zip_code
	11. addr_state
	12. delinq_2yrs
	13. earliest_cr_line(change to datetime and derive columns)
	14. inq_last_6mths
	15. pub_rec
	16. last_pymnt_d(convert into date time and derived columns)
	17. last_credit_pull_d
	18. pub_r##ec_bankruptcies


Numerical:-
	1.loan_amnt
	2.funded_amnt
	3.funded_amnt_inv
	4.int_rate(remove '%')(change to float64)
	5.installment
	6.annual_inc
	7.dti
	8.mths_since_last_delinq
	9.revol_bal
	10.revol_util( remove '%')
	11.total_acc
	12.out_prncp
	13.out_prncp_inv
	14.total_pymnt
	15.total_pymnt_inv
	16.total_rec_prncp
	17.total_rec_int
	18.total_rec_late_fee
	19.recoveries
	20.coll##ection_recovery_fee
	21.last_pymnt_amnt

Others:- 
	1. id
	2. member_id
	3. emp_title()
	4. open_acc

In [55]:
datetime_cols = Clean_data.loc[:,['earliest_cr_line','last_pymnt_d','issue_d']]

In [56]:
for x in datetime_cols:
    Clean_data[x]=pd.to_datetime(Clean_data[x], format='%b-%y')

C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\2076807060.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data[x]=pd.to_datetime(Clean_data[x], format='%b-%y')
C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\2076807060.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data[x]=pd.to_datetime(Clean_data[x], format='%b-%y')
C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\2076807060.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data[x]=pd.to_datetime(Clean_data[x], format='%b-%y')

In [57]:
Clean_data['revol_util'] =Clean_data['revol_util'].apply(lambda x : x if pd.isnull(x) else float(x[:-1]))

C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\1538965820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data['revol_util'] =Clean_data['revol_util'].apply(lambda x : x if pd.isnull(x) else float(x[:-1]))

In [58]:
Clean_data['int_rate'] =Clean_data['int_rate'].apply(lambda x : float(x[:-1]))

C:\Users\jatin\AppData\Local\Temp\ipykernel_1580\485212131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data['int_rate'] =Clean_data['int_rate'].apply(lambda x : float(x[:-1]))

In [59]:
Clean_data['loan_amnt'].plot.box()

ValueError: Key backend: 'module://matplotlib_inline.backend_inline' is not a valid value for backend; supported values are ['gtk3agg', 'gtk3cairo', 'gtk4agg', 'gtk4cairo', 'macosx', 'nbagg', 'notebook', 'qtagg', 'qtcairo', 'qt5agg', 'qt5cairo', 'tkagg', 'tkcairo', 'webagg', 'wx', 'wxagg', 'wxcairo', 'agg', 'cairo', 'pdf', 'pgf', 'ps', 'svg', 'template']

In [ ]:
df= Clean_data[Clean_data['loan_amnt']<30000]
plt.boxplot(df['loan_amnt'])

In [ ]:
plt.boxplot(df['funded_amnt'])
df['funded_amnt'].describe()

In [ ]:
df= df[df['funded_amnt']<28500]

In [ ]:
plt.boxplot(df['funded_amnt'])

In [ ]:
plt.boxplot(df['funded_amnt_inv'])

In [ ]:
df['funded_amnt_inv'].quantile(1)

In [ ]:
df= df[df['funded_amnt_inv']<26000]
plt.boxplot(df['funded_amnt_inv'])

In [ ]:
plt.boxplot(df['int_rate'])

In [ ]:
sns.scatterplot(df['int_rate'])

In [ ]:
df= df[df['int_rate']<22]
plt.boxplot(df['int_rate'])

In [ ]:
plt.boxplot(df['installment'])

In [ ]:
plt.boxplot(df['annual_inc'])

In [ ]:
sns.scatterplot(df['annual_inc'])

In [ ]:
plt.boxplot(df['dti'])

In [ ]:
plt.boxplot(df['revol_bal'])

In [ ]:
df1= df[df['revol_bal']<29500]
plt.boxplot(df1['revol_bal'])

In [ ]:
df1.shape #to check if large amount of data is not getting lost, since a small percentage of data was lost we are removing the outlier

In [ ]:
df.shape

In [ ]:
df=df[~df['revol_util'].isnull()]

In [ ]:
df['revol_util'].isnull().sum()

In [ ]:
plt.boxplot(df['revol_util'])

In [ ]:
plt.boxplot(df['total_acc'])

In [ ]:
df2= df[df['total_acc']<49]
plt.boxplot(df2['total_acc'])

In [ ]:
df2.shape

In [ ]:
df.shape

In [ ]:
df= df[df['total_acc']<49]

In [ ]:
plt.boxplot(df['out_prncp'])

In [ ]:
df['out_prncp'].value_counts() #remaining outstanding principle for total amount funded- max people have paid out, some are remaining

In [ ]:
plt.boxplot(df['out_prncp_inv'])

In [ ]:
plt.boxplot(df['total_pymnt'])

In [ ]:
df3= df[df['total_pymnt']<27000]
plt.boxplot(df3['total_pymnt'])

In [ ]:
df3.shape

In [ ]:
df.shape

In [ ]:
df= df[df['total_pymnt']<27000]

In [ ]:
plt.boxplot(df['total_pymnt_inv'])

In [ ]:
plt.boxplot(df['total_rec_prncp'])

In [ ]:
df[df['total_rec_prncp']>24000]

In [ ]:
plt.boxplot(df['total_rec_int'])

In [ ]:
df['total_calc']=df['total_rec_int']+df['total_rec_prncp']

In [ ]:
df[round(df['total_pymnt'],2)!=round(df['total_calc'],2)]

In [ ]:
df[df['total_rec_int']>5000]

In [ ]:
plt.boxplot(df['total_rec_late_fee'])

In [ ]:
df['total_rec_late_fee'].value_counts()

In [ ]:
plt.boxplot(df['recoveries'])

In [ ]:
plt.boxplot(df['last_pymnt_amnt'])

In [ ]:
sns.histplot(df['last_pymnt_amnt'])

In [ ]:
df4= df[df['last_pymnt_amnt']<7000]

In [ ]:
df4.shape

In [ ]:
df.shape

In [ ]:
df['loan_issued_year']=df['issue_d'].dt.year

In [ ]:
df['loan_issued_year'].value_counts()

In [ ]:
df['earliest_cr_line_year']=df['earliest_cr_line'].dt.year

# Univarient analysis

##Categorical:-
    
    1. term
	2. grade
	3. sub_grade
	4. emp_length(it is in years we will see if to standardise)
	5. home_ownership
	6. verification_status
	7. issue_d( derive months and year columns last)(change to datetime)
	8. loan_status
	9. purpose
	10. zip_code
	11. addr_state
	12. delinq_2yrs
	13. earliest_cr_line(change to datetime and derive columns)
	14. inq_last_6mths
	15. pub_rec
	16. last_pymnt_d(convert into date time and derived columns)
	17. last_credit_pull_d
	18. pub_r##ec_bankruptcies


Numerical:-
	1.loan_amnt
	2.funded_amnt
	3.funded_amnt_inv
	4.int_rate(remove '%')(change to float64)
	5.installment
	6.annual_inc
	7.dti
	8.mths_since_last_delinq
	9.revol_bal
	10.revol_util( remove '%')
	11.total_acc
	12.out_prncp
	13.out_prncp_inv
	14.total_pymnt
	15.total_pymnt_inv
	16.total_rec_prncp
	17.total_rec_int
	18.total_rec_late_fee
	19.recoveries
	20.coll##ection_recovery_fee
	21.last_pymnt_amnt

Others:- 
	1. id
	2. member_id
	3. emp_title()
	4. open_acc

In [ ]:
sns.countplot(x=df['term'])

Term- There are more borrowers who opt for 36 months loan

In [ ]:
sns.countplot(x=df['grade']) # B grade loans are more then C than A then there is major fall in other grade loans

> ASSUMPTION- B grade are low risk loans thats why more people are taking it and people can pay off those loans
> G is high risk loans means dafalut chances are more

In [ ]:
sns.boxplot(x=df['grade'],y=df['loan_amnt'])

In [ ]:
sns.boxplot(x=df['grade'],y=df['annual_inc'])

In [ ]:
plt.boxplot(df['annual_inc'])

In [ ]:
df5=df[df['annual_inc']<=100000]

In [ ]:
sns.boxplot(x=df5['grade'],y=df5['annual_inc'])

In [ ]:
print(df5.shape)
print(df.shape)

In [ ]:
plt.boxplot(df5['annual_inc'])

In [ ]:
sns.countplot(x=df['emp_length'])

> 10+ years experience customer take more loans but 9year experience take least loans so ASSUMPTIONS- might be people taking loans in their
> early years of experience are paying now and avoiding taking loans, once this current loan completes they start another loans for different
> purpose
> 2nd most highest persons taking loans are having less than 1 year of experience, this means they are fresher and taking
> loans for various reasons like buying some gadgets or going for masters (PG)

In [ ]:
df['pub_rec'].value_counts() #personal having 0 public derogatory records this show they are generelly not defaulter
#persons having more than 0 derogatory records maybe become defualter depending on other parameters

In [ ]:
sns.countplot(x=df['addr_state']) # this is of no use

In [ ]:
df['addr_state'].value_counts()
# People belonging from CA are taking more loans but loans in NY is almost half of CA

In [60]:
df['loan_status'].value_counts()

KeyError: 'loan_status'

In [ ]:
df['recoveries'].value_counts()

> ASSUMPTION- persons having no recovery amount means they are paying there loans
> persons having recovery amount means they are bad borrowers and they tend to default

In [ ]:
df['total_acc'].value_counts()

In [ ]:
sns.histplot(df['total_acc'])

>ASSUMPTION- people having more than 30 loans are more risk as they can default, maybe we should avoid giving loans if persons have more than
>20 loans

In [ ]:
df=df[df['annual_inc']<=100000]

In [ ]:
sns.histplot(df['annual_inc'])

>ASSUMPTION 1- sudden spikes here maybe indicate that person having business and taking more loans
>ASSUMPTION 2- maybe these are because some interest rate criteria increase or decrease so that customer is going for more loan amount..

In [ ]:
sns.histplot(df['dti'])

#### data understanding criteria for DTI
> If a borrower makes $5,000 per month and has $1,000 in debt payments (excluding mortgage and the new loan):
DTI = $1,000 ÷ $5,000 = 0.2 or 20%.
This means 20% of the borrower’s monthly income is already being used to pay debts, leaving 80% available for other expenses or new debt.

> ASSUMPTION- 10% to 15% DTI is good as customer can take more loans and also can payoff. more % DTI means person is high risk as customer can default.

## Bivariate Analysis

In [ ]:
# home_ownership vs loan amount
sns.barplot(data=df,x='home_ownership', y='loan_amnt',estimator=np.median)
plt.show

In [ ]:
fig, ax = plt.subplots(figsize=(11, 8))  # Adjust width and height (inches)
sns.boxplot(data=df, y='purpose', x='loan_amnt', ax=ax)
plt.show()

#### Finding purpose vs loan_amount
> people are taking more loans in for small business
> on 2nd customer is aware and of tis debt and consolidating all together so that payment is easy for customer

In [61]:
fig, ax = plt.subplots(figsize=(11, 8)) 
sns.boxplot(data=df, y='purpose', x='int_rate', ax=ax)
plt.show()

NameError: name 'plt' is not defined

##### Findings
> customer are taking loans for vacation are risky that why interest rate is more for then
> Medical loans amount IQR range is less with some outliers but spread od interest rate is more for medical because it varies according to surgeries
> and treatments

In [62]:
fig, ax = plt.subplots(figsize=(11, 8)) 
sns.scatterplot(data=df, y='loan_amnt', x='annual_inc', ax=ax)
plt.show()

NameError: name 'plt' is not defined

> Annual income is directly proportional to loan_amount till 25000 loan_amount . after that it becomes constant as even if customer is having more income it is not taking laon of bigger amount

In [63]:
correlation = df['int_rate'].corr(df['dti'])
correlation

KeyError: 'int_rate'

In [ ]:
fig, ax = plt.subplots(figsize=(11, 8))  # Adjust width and height (inches)
sns.scatterplot(data=df, y='int_rate', x='open_acc', ax=ax)
plt.show()

In [64]:
fig, ax = plt.subplots(figsize=(11, 8))  # Adjust width and height (inches)
sns.boxplot(data=df, y='sub_grade', x='dti', ax=ax)
plt.show()

NameError: name 'plt' is not defined

In [65]:
fig, ax = plt.subplots(figsize=(11, 8))  # Adjust width and height (inches)
sns.boxplot(data=df, y='loan_status', x='int_rate', ax=ax)
plt.show()

NameError: name 'plt' is not defined

In [ ]:
pt_intrate=pd.pivot_table(data=df, values='int_rate', index='purpose', columns='loan_status', aggfunc=np.median)

In [66]:
sns.heatmap(pt_intrate,cmap='Blues',annot=True)

NameError: name 'sns' is not defined

### findings
> fully paid loans have less interest amount and generally more interest have then customer are getting missing payments and have not paid that why they are charged off
> major is house/ morgage payment having more gap in interest rate

In [67]:
pt_loanamount=pd.pivot_table(data=df, values='loan_amnt', index='purpose', columns='loan_status', aggfunc=np.median)

KeyError: 'loan_amnt'